In [1]:
#dictionary
# -indexed
# -ordered
# -duplicate value but no duplicate key
# -mutable
# -notation by curly bractey
#- no slicing

In [2]:
# a={<key>:value,<key>:<value>,...}
a={'a':'apple','b':'ball'}
#a is key and apple is value
type(a)

dict

In [3]:
a={}
type(a)

dict

In [4]:
a={'a':'apple','b':'ball','c':'cat'}
print(a['a'])

apple

In [5]:
a={'a':'apple','b':'ball','c':'cat'}
print(a['a'])

apple

In [6]:
a={'a':'apple','b':'ball','c':'cat','B':'banana'}
a

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'B': 'banana'}

In [7]:
a={'a':'apple','b':'ball','c':'cat','b':'banana'}
a

{'a': 'apple', 'b': 'banana', 'c': 'cat'}

In [8]:
a={}
a['a']='apple'
a['b']='ball'
a['c']='cat'
a['a']='ant'
a

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [10]:
d={}
n=int(input('enter n'))
for i in range(n):
    name=input('enetr name=')
    phone=int(input('enter phone= '))
    key= name
    value=phone
    d[key]=value
print(d)

enter n2
enetr name=ram
enter phone= 98457635
enetr name=shyam
enter phone= 365785
{'ram': 98457635, 'shyam': 365785}

In [3]:
b=([('ram,985623'),('syam',985682300)]
a= dict(b)
a

SyntaxError: invalid syntax (<ipython-input-3-8114ae528f1b>, line 2)

In [5]:
a={'ram':985623,'syam':985682300}
list(a)
# for i in b.items():
#     print(i)

['ram', 'syam']

In [19]:
b={'ram':'985623','syam':'985682300'}
for i in b.value():
    print(i)

AttributeError: 'dict' object has no attribute 'value'

In [20]:
a={'ram':985623,'syam':985682300}
b={'hari':98756613}
print(a+b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [22]:
a={'ram':985623,'syam':985682300}
b={'hari':98756613}
a.update(b)
a

{'ram': 985623, 'syam': 985682300, 'hari': 98756613}

In [23]:
a={'ram':985623,'syam':985682300}
del a['ram']
a

{'syam': 985682300}

In [12]:
a={'ram':985623,'syam':985682300}
a.remove('ram')
a

AttributeError: 'dict' object has no attribute 'remove'

In [6]:
a={'ram':985623,'syam':985682300}
tuple(a)

('ram', 'syam')

In [9]:
a={'ram':985623,'syam':985682300} # for reading value
for i in a.values():
    print(i)

985623
985682300

In [10]:
a={'ram':985623,'syam':985682300} # for reading value abd key
for i in a.items():
    print(i)

('ram', 985623)
('syam', 985682300)

In [13]:
a={'ram':985623,'syam':985682300}
a.pop('ram')
a

{'syam': 985682300}

In [14]:
# keys are always imutable objects
a={('ram','hari'):985623,'syam':985682300}
a

{('ram', 'hari'): 985623, 'syam': 985682300}

In [15]:
a[('ram','hari')]

985623

In [16]:
#list inside dictionary// 
a={'ram':[985623,98020710049],'syam':[985682300,9847993418]}

In [22]:
# dict inside list
a=[{'ram':9845631279},
  {'shyam':985632145}]


# tuple inside dict
 a={'ram':(985623,98020710049),'syam':(985682300,9847993418)}
    
    
    
# dict inside tuple
a=({'ram':98456133},
  {'shyam':954766325})

# dict inside dict

a={ 'ram':{'ntc':98456,'ncell':9845635},
     'shyam:{'ntc':9845623,'ncell':98546123}}
a

IndentationError: unexpected indent (<ipython-input-22-0bbe7f26a468>, line 7)

In [23]:
# Day2
a={'ram':[98456935,985645263],'shyam':[98652348,123569874]}
print(a)

{'ram': [98456935, 985645263], 'shyam': [98652348, 123569874]}

In [24]:
a={'ram':[98456935,985645263],'shyam':[98652348,123569874]}
print(a['ram'])

[98456935, 985645263]

In [25]:
a={'ram':[98456935,985645263],'shyam':[98652348,123569874]}
a['ram']=[98456936,985645264]
a

{'ram': [98456936, 985645264], 'shyam': [98652348, 123569874]}

In [27]:
a={'ram':[98456935,985645263],'shyam':[98652348,123569874]}
a['ram'][0]=98456936
a

{'ram': [98456936, 985645263], 'shyam': [98652348, 123569874]}

In [28]:
a={'ram':[98456935,985645263],'shyam':[98652348,123569874]}
del a['ram'][0]
a

{'ram': [985645263], 'shyam': [98652348, 123569874]}

In [29]:
a={'ram':[98456935,985645263],'shyam':[98652348,123569874]}
a['ram'].append(458863)
a

{'ram': [98456935, 985645263, 458863], 'shyam': [98652348, 123569874]}

In [30]:
#dict inside list
a=[{'ram':9845635},{'shyam':4563250}]
a[0]

{'ram': 9845635}

In [31]:
a[1]

{'shyam': 4563250}

In [32]:
a=[{'ram':9845635},{'shyam':4563250}]
for i in a:
    print(i)

{'ram': 9845635}
{'shyam': 4563250}

In [33]:
l=[]
n=int(input('enter n='))
for i in range(n):
    name=input('enter name=')
    ntc=int(input('enter ntc no= '))
    ncell=int(input('enter ncell no= '))
    d ={'name':name,'ntc':ntc,'ncell':ncell}
    l.append(d)
print(l)

enter n=2
enter name=ram
enter ntc no= 9856354
enter ncell no= 98020563
enter name=hari
enter ntc no= 256987
enter ncell no= 98025605
[{'name': 'ram', 'ntc': 9856354, 'ncell': 98020563}, {'name': 'hari', 'ntc': 256987, 'ncell': 98025605}]

In [34]:
a=[{'name': 'ram', 'ntc': 9856354, 'ncell': 98020563},
   {'name': 'hari', 'ntc': 256987, 'ncell': 98025605}]
for i in a:
    print(i)

{'name': 'ram', 'ntc': 9856354, 'ncell': 98020563}
{'name': 'hari', 'ntc': 256987, 'ncell': 98025605}

In [35]:
a=[{'name': 'ram', 'ntc': 9856354, 'ncell': 98020563},
   {'name': 'hari', 'ntc': 256987, 'ncell': 98025605}]
for i in a:
    print(i['name'])

ram
hari

In [36]:
a=[{'name': 'ram', 'ntc': 9856354, 'ncell': 98020563},
   {'name': 'hari', 'ntc': 256987, 'ncell': 98025605}]
for i in a:
    if i['name']=='ram':
        print(i)

{'name': 'ram', 'ntc': 9856354, 'ncell': 98020563}

In [42]:
a=[{'name': 'ram', 'ntc': 9856354, 'ncell': 98020563},
   {'name': 'hari', 'ntc': 256987, 'ncell': 98025605}]
name=input('enter name= ')
c=0
for i in a:
    if i['name']==name:
        c+=1
        print(i)
if c==0:
     print('not found')

enter name= hari
{'name': 'hari', 'ntc': 256987, 'ncell': 98025605}

In [43]:
#dict inside dict
a={'ram':{'ntc':985625,'ncell':980202},
  'shyam':{'ntc':98564123,'ncell':980802563}}
a

{'ram': {'ntc': 985625, 'ncell': 980202},
 'shyam': {'ntc': 98564123, 'ncell': 980802563}}

In [44]:
a['ram']

{'ntc': 985625, 'ncell': 980202}

In [2]:
a={1:{'name':'ram','ntc':985625,'ncell':980202},
  2:{'name':'ram','ntc':98564123,'ncell':980802563}}
print(a[1]['name'])
print(a[1]['ntc'])

ram
985625

In [46]:
a[1]['name']='rama'
a

{1: {'name': 'rama', 'ntc': 985625, 'ncell': 980202},
 2: {'name': 'ram', 'ntc': 98564123, 'ncell': 980802563}}

In [47]:
a={1:{'name':'ram','ntc':985625,'ncell':980202},
  2:{'name':'ram','ntc':98564123,'ncell':980802563}}
del a[1]
a

{2: {'name': 'ram', 'ntc': 98564123, 'ncell': 980802563}}

In [48]:
a={1:{'name':'ram','ntc':985625,'ncell':980202},
  2:{'name':'shyam','ntc':98564123,'ncell':980802563}}
a[3]={'name':'hari','ntc':985641256,'ncell':9808025589}
a

{1: {'name': 'ram', 'ntc': 985625, 'ncell': 980202},
 2: {'name': 'shyam', 'ntc': 98564123, 'ncell': 980802563},
 3: {'name': 'hari', 'ntc': 985641256, 'ncell': 9808025589}}

In [49]:
for i in a.items():
    print(i)

(1, {'name': 'ram', 'ntc': 985625, 'ncell': 980202})
(2, {'name': 'shyam', 'ntc': 98564123, 'ncell': 980802563})
(3, {'name': 'hari', 'ntc': 985641256, 'ncell': 9808025589})

In [50]:
for i in a.values():
    print(i)

{'name': 'ram', 'ntc': 985625, 'ncell': 980202}
{'name': 'shyam', 'ntc': 98564123, 'ncell': 980802563}
{'name': 'hari', 'ntc': 985641256, 'ncell': 9808025589}

In [51]:
l={}
n=int(input('enter n='))
for i in range(1,n+1):
    name=input('enter name=')
    ntc=int(input('enter ntc no= '))
    ncell=int(input('enter ncell no= '))
    d ={'name':name,'ntc':ntc,'ncell':ncell}
    l[i]=d
print(l)

enter n=2
enter name=ram
enter ntc no= 98456
enter ncell no= 98020
enter name=shyam
enter ntc no= 984563
enter ncell no= 980245
{1: {'name': 'ram', 'ntc': 98456, 'ncell': 98020}, 2: {'name': 'shyam', 'ntc': 984563, 'ncell': 980245}}