In [1]:
d=[[1,2,3],[4,5,6],[7,8,9]]
print(len(d))

3

In [2]:
d[0][0]

1

In [3]:
d[0:2]

[[1, 2, 3], [4, 5, 6]]

In [5]:
a=[[1,2,3,],[4,5,6]]
b=[[7,8,9]]
print(a+b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
a=[[1,2,3,],[4,5,6]]
print(a*3)

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [9]:
info=[]
n=int(input('enter n= '))
for i in range(n):
    name=input('enter name= ')
    age= int(input('ente age= '))
    addr=input('enter address= ')
    data= [name,age,addr]
    info.append(data)
print(info)

enter n= 2
enter name= ram
ente age= 45
enter address= kathmandu
enter name= syam
ente age= 45
enter address= patan
[['ram', 45, 'kathmandu'], ['syam', 45, 'patan']]

In [11]:
index=int(input('enter index= '))
print(info[index])

enter index= 1
['syam', 45, 'patan']

In [14]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
for i in a:
    print(i)

TypeError: list indices must be integers or slices, not list

In [16]:
for i in a:
    if 'ram' in i:
        print(i)

['ram', 45, 'kathmandu']

In [18]:
bill=[]
netprice=0
n=int(input('enetr a= '))
for i in range(n):
    name=input('enter name= ')
    price= int(input('enetr price= '))
    qty= int(input('enter qty= '))
    total=price*qty
    data=[name,price,qty,total]
    bill.append(data)
    netprice=netprice+total
print(bill)
print(netprice)

enetr a= 2
enter name= apple
enetr price= 250
enter qty= 2
enter name= orange
enetr price= 300
enter qty= 3
[['apple', 250, 2, 500], ['orange', 300, 3, 900]]
1400

In [19]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
a[0][0]='nabin'
print(a)

[['nabin', 45, 'kathmandu'], ['syam', 45, 'patan'], ['hari', 34, 'kathmandu']]

In [20]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
a[0]=['nabin',32,'lalitpur']
print(a)

[['nabin', 32, 'lalitpur'], ['syam', 45, 'patan'], ['hari', 34, 'kathmandu']]

In [22]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
del a[0]
a

[['syam', 45, 'patan'], ['hari', 34, 'kathmandu']]

In [28]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
del a[0][0]
a

[[45, 'kathmandu'], ['syam', 45, 'patan'], ['hari', 34, 'kathmandu']]

In [29]:
a[0].insert(0,'ram')
a

[['ram', 45, 'kathmandu'], ['syam', 45, 'patan'], ['hari', 34, 'kathmandu']]

In [30]:
a[0].append('ram')

In [31]:
a

[['ram', 45, 'kathmandu', 'ram'],
 ['syam', 45, 'patan'],
 ['hari', 34, 'kathmandu']]

In [32]:
a[1].append('harii')
a

[['ram', 45, 'kathmandu', 'ram'],
 ['syam', 45, 'patan', 'harii'],
 ['hari', 34, 'kathmandu']]

In [33]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
a[0][0]='' # to maintain symmetric form
a

[['', 45, 'kathmandu'], ['syam', 45, 'patan'], ['hari', 34, 'kathmandu']]

In [38]:
n=int(input('enter a n='))
data=str()
grandtotal=0
for i in range(n):
    name=input('enter a name=')
    price=int(input('enter a price='))
    quantity=int(input('enter the quantity='))
    total=price*quantity
    info=f'{name} {price}  {quantity}{total}\n'
    data=data+info
    grandtotal+=total
print(data)
#print(grandtotal)

enter a n=2
enter a name=apple
enter a price=200
enter the quantity=2
enter a name=coke
enter a price=80
enter the quantity=3
apple 200  2400
coke 80  3240

In [41]:
l=data.split('\n')

In [42]:
l

['apple 200  2400', 'coke 80  3240', '']

In [45]:
output=[]
l=data.split('\n')[0:-1]
for i in l:
    x=i.split()
    output.append(x)
print(output)

[['apple', '200', '2400'], ['coke', '80', '3240']]

In [46]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
for i in a:
    if 'ram'in i: # best to serach in multi-dimension list than compare
        continue
    print(i)

['syam', 45, 'patan']
['hari', 34, 'kathmandu']

In [52]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
for i in range(len(a)):
    if a[i][0]=='ram':
        continue
    print(a[i])

['syam', 45, 'patan']
['hari', 34, 'kathmandu']

In [54]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu']]
for i in range(len(a)):
    if a[i][0]!='ram':
            print(a[i])

['syam', 45, 'patan']
['hari', 34, 'kathmandu']

In [55]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu'],
  ['hari' ,34,'kathmandu']]
a.count(['hari' ,34,'kathmandu'])

2

In [56]:
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu'],
  ['hari' ,34,'kathmandu']]
a.remove(a[-1])

In [57]:
a

[['ram', 45, 'kathmandu'], ['syam', 45, 'patan'], ['hari', 34, 'kathmandu']]

In [64]:
b=[]
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['hari' ,34,'kathmandu'],
  ['hari' ,34,'kathmandu']]
x=['hari' ,34,'kathmandu']
n=a.count(x)
for i in range(n):
    if a[i] !=x:
        b.append(a[i])
print(b)

[['ram', 45, 'kathmandu'], ['syam', 45, 'patan']]

In [66]:
b=[]
a=[['ram', 45, 'kathmandu'],
  ['syam', 45, 'patan'],
  ['belmata',24,'dang'],
  ['hari' ,34,'kathmandu'],
  ['hari' ,34,'kathmandu']]
x=['hari' ,34,'kathmandu']
n=len(a)
for i in range(n):
    if a[i] !=x:
        b.append(a[i])
print(b)

[['ram', 45, 'kathmandu'], ['syam', 45, 'patan'], ['belmata', 24, 'dang']]