In [1]:
# set
# -doe not follow indexing
# -unorderd
# -no duplicate members
# -mutable

In [3]:
a ={1,2,3,4}
b=set()
print(a)
print(b)

{1, 2, 3, 4}
set()

In [4]:
a={'apple,'ball','cat','dog'}
   print(a[0])

SyntaxError: invalid syntax (<ipython-input-4-cdf5d45d8ba1>, line 1)

In [6]:
a={'apple','ball','cat','dog'}
print(a) # output may be different by user

{'dog', 'cat', 'ball', 'apple'}

In [9]:
a={'apple','ball','cat','dog'}
a

{'apple', 'ball', 'cat', 'dog'}

In [10]:
a={'apple','ball','cat','dog',1}
a

{1, 'apple', 'ball', 'cat', 'dog'}

In [11]:
a={'apple','ball','cat','dog',1,'apple'} #  no duplicate members
a

{1, 'apple', 'ball', 'cat', 'dog'}

In [13]:
a=set()
a.add('apple')
a# mutable

{'apple'}

In [14]:
a={'apple','ball','cat','dog',1,'apple'}
b={'fish',"fan"}
a.update(b) # for multiple value adding update is used
a

{1, 'apple', 'ball', 'cat', 'dog', 'fan', 'fish'}

In [17]:
a=set()
n=int(input('enter n= '))
for i in range(n):
    x=input('enter x=')
    a.add(x)
print(a)

enter n= 3
enter x=apple
enter x=ball
enter x=cat
{'cat', 'ball', 'apple'}

In [18]:
a={'cat', 'ball', 'apple'}
a.remove('ball')
a

{'apple', 'cat'}

In [19]:
a={'cat', 'ball', 'apple'}
del a[0]
a

TypeError: 'set' object doesn't support item deletion

In [20]:
a={'cat', 'ball', 'apple'}
a.replace('ball',"Ball")
a

AttributeError: 'set' object has no attribute 'replace'

In [21]:
a={1,2,3,{4,5,6}}# set inside set is not possible
a

TypeError: unhashable type: 'set'

In [22]:
#no set inside list
#no set inside dictionary

In [23]:
# tuple can use in set (safest way for transmission of data)
a={1,2,3,(4,5,6)}
print(a)

{1, 2, 3, (4, 5, 6)}

In [25]:
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
a.intersection(b) #

{'hari', 'sita'}

In [26]:
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
a.union(b) #a U b

{'gita', 'hari', 'nabin', 'nita', 'ram', 'shyam', 'sita'}

In [27]:
print(a)

{'gita', 'shyam', 'ram', 'nita', 'sita', 'hari'}

In [28]:
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
a.update(b)
print(a)

{'gita', 'shyam', 'ram', 'nabin', 'nita', 'sita', 'hari'}

In [29]:
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
a.difference(b) # a-b

{'gita', 'nita', 'ram', 'shyam'}

In [30]:
b.difference(a) # b-a only elements of b not containg in a

{'nabin'}

In [31]:
#symmetric difference (a U b expect common elemts)
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
c=a.union(b)
d=a.intersection(b)
print(c.difference(d))

{'gita', 'ram', 'shyam', 'nabin', 'nita'}

In [32]:
a={1,2,3,4}
b={1,2}
# a is called super set of set b
# b is subset of set a
#  tthere is no common elemtsn id set a and set b then set is called disjoint set

In [33]:
b={'ram','shyam','hari','gita','sita','nita'}
a={'hari','sita'}
a.issuperset(b)

False

In [34]:
b.issuperset(a)

True

In [35]:
a.issubset(b)

True

In [36]:
b.issubset(a)

False

In [37]:
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
c={'hari','nabina'}
a.intersection(b,c)

{'hari'}

In [40]:
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
c={'hari','nabina'}
d=a.intersection(b)
e=d.difference(c)
print(e)

{'sita'}

In [41]:
u={'ram','shyam','hari','gita','sita','nita','sabina','ramesh'}
a={'ram','shyam','hari','gita','sita','nita'}
b={'hari','sita','nabin'}
c={'hari','nabina'}
d=a.union(b,c)
e=u.difference(d)
e

{'ramesh', 'sabina'}