In [2]:
import mysql.connector #package name
#importing database
database=mysql.connector.connect( # fucntion
    host='localhost',
    user='root',
    password='',
    database='class12pm' # database name which should be created in databse 
)
db=database.cursor() # object banako

In [3]:
#selecting data from database
db.execute("SELECT* FROM  account") #table name
result= db.fetchall()
for x in result:
    print(x)

(1, 'belmata bahndari', 984799341, 'yes', datetime.datetime(2021, 7, 4, 12, 42, 2))
(2, 'hari ', 982563145, 'yes', datetime.datetime(2021, 7, 4, 12, 42, 26))
(3, 'ram', 98479934, 'yes', datetime.datetime(2021, 7, 4, 12, 45, 38))
(1, 'belmata', 12365478, 'yes', datetime.datetime(2021, 7, 4, 12, 47, 34))

In [4]:

db.execute("SELECT id,name,phone FROM  account") #table name
result= db.fetchall()
for x in result:
    print(x)

(1, 'belmata bahndari', 984799341)
(2, 'hari ', 982563145)
(3, 'ram', 98479934)
(1, 'belmata', 12365478)

In [5]:

db.execute("SELECT* FROM  account where name='belmata'")
result= db.fetchall()
for x in result:
    print(x)

(1, 'belmata', 12365478, 'yes', datetime.datetime(2021, 7, 4, 12, 47, 34))

In [7]:
db.execute("SELECT* FROM  account where id =1")
result= db.fetchall()
for x in result:
    print(x)

(1, 'belmata bahndari', 984799341, 'yes', datetime.datetime(2021, 7, 4, 12, 42, 2))
(1, 'belmata', 12365478, 'yes', datetime.datetime(2021, 7, 4, 12, 47, 34))

In [8]:
db.execute("SELECT name,phone FROM  account where name='belmata'")
result= db.fetchall()
for x in result:
    print(x)

('belmata', 12365478)

In [10]:
#search
db.execute("SELECT name,phone FROM  account where name like '%BELMATA%' ")# first and last dekhi similar
result= db.fetchall()
for x in result:
    print(x)

('belmata bahndari', 984799341)
('belmata', 12365478)

In [11]:
#search
account=input('enter account holder name= ')
db.execute(f"SELECT name,phone FROM  account where name like '%{account}%' ")
result= db.fetchall()
for x in result:
    print(x)

enter account holder name= belmata
('belmata bahndari', 984799341)
('belmata', 12365478)

In [12]:
name=input('enter name= ')
db.execute(f"SELECT name,phone FROM  account where name='{name}'")
result= db.fetchall()
for x in result:
    print(x)

enter name= belmata
('belmata', 12365478)

In [13]:
id=int(input('enter id= '))
db.execute(f"SELECT* FROM  account where id ={id}")
result= db.fetchall()
for x in result:
    print(x)

enter id= 1
(1, 'belmata bahndari', 984799341, 'yes', datetime.datetime(2021, 7, 4, 12, 42, 2))
(1, 'belmata', 12365478, 'yes', datetime.datetime(2021, 7, 4, 12, 47, 34))

In [18]:
id=int(input('enter id= '))
sql=f"SELECT* FROM  account where id ={id}"
print(sql)
db.execute(sql)
result= db.fetchall()
for x in result:
    print(x)

enter id= 1
SELECT* FROM  account where id =1
(1, 'belmata bahndari', 984799341, 'yes', datetime.datetime(2021, 7, 4, 12, 42, 2))
(1, 'belmata', 12365478, 'yes', datetime.datetime(2021, 7, 4, 12, 47, 34))

In [25]:
name=input('enter nme= ')
phone=int(input('enter phone= '))
payment=input("enter 'yes' or 'no")
total=int(input('enter total= '))

sql=f"INSERT INTO account(name,phone,payment,total) VALUES('{name}',{phone},'{payment}',{total})"
db.execute(sql)
database.commit()

enter nme= MUNA
enter phone= 235689
enter 'yes' or 'noYES
enter total= 1000