In [1]:
#python data collection (important)
#list
#tuple
#dictionary
#set

In [2]:
#LIST

In [2]:
a=list()
b=[]
c=['apple','ball','cat','dog','fish']

In [4]:
a=[3,45,67,768,243,76876,978,234]
print(sum(a))
print(min(a))
print(max(a))
a.sort()
print(a)
a.reverse()
print(a)

79214
3
76876
[3, 45, 67, 234, 243, 768, 978, 76876]
[76876, 978, 768, 243, 234, 67, 45, 3]

In [5]:
a=['apple','zebra,','ball','Xray']
a.sort()
print(a)

['Xray', 'apple', 'ball', 'zebra,']

In [6]:
#sorted()
a=['apple','zebra,','ball','Xray']
print(sorted(a))
print(a)

['Xray', 'apple', 'ball', 'zebra,']
['apple', 'zebra,', 'ball', 'Xray']

In [7]:
a=['apple','zebra,','ball','Xray','2']
a.append('fish')
print(a)

['apple', 'zebra,', 'ball', 'Xray', '2', 'fish']

In [8]:
print(a.append('fish'))

None

In [9]:
#insert() to add value in anywhere in the list
a=['Apple','Zebra,','ball','Xray','1Rose','food','2']
a.insert(3,'fish')
print(a)

['Apple', 'Zebra,', 'ball', 'fish', 'Xray', '1Rose', 'food', '2']

In [11]:
#info=[]
n=int(input('enter a n='))
for i in range(n):
    name=input('enter name=')
    info.append(name)
print(info)

enter a n=2
enter name=belmata
enter name=bhandari
['belmata', 'bhandarai', 'belmata', 'bhandari']

In [12]:
#count() to fins the particular number count
a=[1,22,3,4,5,6,3,4]
l=len(a)
print(l)

7

In [13]:
a=[1,22,3,4,5,6,3,4,4,4]
l=a.count(4)
print(l)

4

In [14]:
a=[1,22,3,4,5,6,3,4,4,'4']
l=a.count('4')
print(l)

1

In [15]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2']
a[5]

'food'

In [16]:
print(a.index('ball'))

2

In [18]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
l=len(a)
for i in range(l):
    if a[i]=='ball':
        print(i)
#print(a.index('ball'))

2
7
2

In [19]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
a[2]='Ball' # to update value
a[-1]='Ball'
print(a)

['Apple', 'Zebra,', 'Ball', 'Xray', '1Rose', 'food', '2', 'Ball']

In [21]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
l=len(a)
x=input('enter x=')
y= input('enter y=')
for i in range(l):
    if  a[i]==x:
        a[i]=y
print(a)

enter x=ball
enter y=Belmata
['Apple', 'Zebra,', 'Belmata', 'Xray', '1Rose', 'food', '2', 'Belmata']

In [22]:
#del remove pop()
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
i=int(input('enter index='))
del a[i]
print(a)

enter index=3
['Apple', 'Zebra,', 'ball', '1Rose', 'food', '2', 'ball']

In [23]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
del a[0:3]
print(a)

['Xray', '1Rose', 'food', '2', 'ball']

In [24]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
a.remove('ball')
print(a)

['Apple', 'Zebra,', 'Xray', '1Rose', 'food', '2', 'ball']

In [25]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
a.pop()
print(a)

['Apple', 'Zebra,', 'ball', 'Xray', '1Rose', 'food', '2']

In [26]:
a=['Apple','Zebra,','ball','Xray','1Rose','food','2','ball']
b=a.pop(3)
print(a)
print(b)

['Apple', 'Zebra,', 'ball', '1Rose', 'food', '2', 'ball']
Xray

In [27]:
#for multiple valur deleting by pop
a=['Apple','Zebra,','ball','Xray','ball','food','2','ball']
l=a.count('ball')
for i in range(l):
    a.remove('ball')
print(a)

['Apple', 'Zebra,', 'Xray', 'food', '2']

In [28]:
b=[]
a=['Apple','Zebra,','ball','Xray','ball','food','2','ball']
for i in range (len(a)):
    if a[i]=='ball':
        continue # skip
    b.append(a[i])
print(b)

['Apple', 'Zebra,', 'Xray', 'food', '2']

In [29]:
b=[]
a=['Apple','Zebra,','Ball','Xray','ball','food','2','Ball']
for i in a:
    x=i.lower()
    b.append(x)
print(b)

['apple', 'zebra,', 'ball', 'xray', 'ball', 'food', '2', 'ball']

In [31]:
b=0
index=[]
c=input('enter value c=')
a=['Apple','Zebra,','Ball','Xray','ball','food','2','Ball']
for i in a:
    x=i.lower()
    if x==c.lower():
        b+=1
        index.append(i)
    
print(b)

enter value c=ball
3

In [34]:
b=0
index=[]
c=input('enter value c=')
a=['Apple','Zebra,','Ball','Xray','ball','food','2','Ball']
for i in range(len(a)):
    x=a[i].lower()
    if x==c.lower():
        b+=1
        index.append(i)
    
print(b)
print(index)

enter value c=ball
3
[2, 4, 7]

In [ ]:
#multi-dimension list

In [1]:
d=[[1,2,3],[4,5,6],[7,8,9]]
print(len(d))

3

In [2]:
d[0]

[1, 2, 3]

In [3]:
d[0][0]

1

In [6]:
info=[]
n=int(input('enter n='))
for i in range(n):
    name=input('enter name')
    age=int(input('enter age='))
    add= input('enter address=')
    data=[name,age,add]
    info.append(data)
    
print(info)

enter n=2
enter nameram
enter age=45
enter address=kathmandu
enter nameshyam
enter age=56
enter address=lalitpur
[['ram', 45, 'kathmandu'], ['shyam', 56, 'lalitpur']]

In [7]:
index=int(input('enter index='))
print(info[index])

enter index=0
['ram', 45, 'kathmandu']

In [8]:
a=[['ram,45,kathmadnu'],['syam',45,'patan'],['hari',34,'kathamdu']]
for i in a:
    print(i)

['ram,45,kathmadnu']
['syam', 45, 'patan']
['hari', 34, 'kathamdu']

In [12]:
for i in a:
    print(i)
    if 'ram'in i:
        print(i)

['ram,45,kathmadnu']
['syam', 45, 'patan']
['hari', 34, 'kathamdu']

In [16]:
bill=[]
net_price=0
n=int(input('enetr the n='))
for i in range(n):
    name=input('enter name=')
    price=int(input('enter price='))
    quantity=int(input('enter qty='))
    total=price*quantity
    data=[name,price,quantity,total]
    bill.append(data)
    net_price=net_price+total
print(bill)
print(net_price)

enetr the n=2
enter name=apple
enter price=250
enter qty=2
enter name=orange
enter price=300
enter qty=3
[['apple', 250, 2, 500], ['orange', 300, 3, 900]]
1400