In [1]:
#tuple( it follows indexing, duplicate members, odered,immutable)
#-use small braket to represent tuple

In [4]:
a=(1,2,3,4)
b=('apple','ball', 'cat')
print(a)
print(b)
type(a)

(1, 2, 3, 4)
('apple', 'ball', 'cat')

tuple

In [6]:
b=('apple','ball', 'cat')
print(b[0])
print(b[0:2])
print(b[0:3:2])

apple
('apple', 'ball')
('apple', 'cat')

In [7]:
#duplicate members
b=('apple','ball', 'cat')
print(b*2)

('apple', 'ball', 'cat', 'apple', 'ball', 'cat')

In [9]:
b=('apple','ball', 'cat')
c=('bog',) # for single member , is neccesaryt o represent as tuple otherwise it becam string
d=b+c
print(d)

('apple', 'ball', 'cat', 'bog')

In [1]:
t=tuple()
n=int(input('enter '))
for i in range(n):
    x=input('enter x= ')
    t=t+(x,)
print(t)

enter 3
enter x= aplle
enter x= ball
enter x= orange
('aplle', 'ball', 'orange')

In [2]:
sorted(t #return as list

['aplle', 'ball', 'orange']

In [3]:
t=tuple()
n=int(input('enter '))
for i in range(n):
    x=int(input('enter x= '))
    t=t+(x,)
print(t)

enter 5
enter x= 12
enter x= 3
enter x= 5
enter x= 66
enter x= 48
(12, 3, 5, 66, 48)

In [4]:
print(max(t))
print(min(t))
print(sum(t))

66
3
134

In [5]:
len(t)

5

In [7]:
a=('apple','zebra','ball','xray','1rose','food','2','ball')
b=a[0:3]
c=a[4:]
d=b+c
print(d)

('apple', 'zebra', 'ball', '1rose', 'food', '2', 'ball')

In [8]:
a=('apple','zebra','ball','xray','1rose','food','2','ball')
b=a[0:3]
c=a[4:]
f=('xray',)
d=b+f+c
print(d)

('apple', 'zebra', 'ball', 'xray', '1rose', 'food', '2', 'ball')

In [9]:
a=('apple','zebra','ball','xray','1rose','food','2','ball')
b=list(a)
b

['apple', 'zebra', 'ball', 'xray', '1rose', 'food', '2', 'ball']

In [10]:
# for operrating on tuple , first change datatype then operated then again change to tuple
a=('apple','zebra','ball','xray','1rose','food','2','ball')
b=list(a)
b.remove('xray')
a=tuple(b)
print(a)

('apple', 'zebra', 'ball', '1rose', 'food', '2', 'ball')

In [11]:
a='apple'
list(a)

['a', 'p', 'p', 'l', 'e']

In [14]:
b=tuple(a)

In [15]:
c=str(b)
c

"('a', 'p', 'p', 'l', 'e')"

In [16]:
# tuple inside tuple
# tuple inside list
# list inside tuple
a=((1,2,3),   # tuple inside tuple
  (4,5,6),
  (7,8,9))
print(len(a))

3

In [17]:
info=tuple() # creating tuple inside tuple
n=int(input('enter n='))
for i in range(n):
    name=input('enter name')
    age=int(input('enter age='))
    add= input('enter address=')
    data=((name,age,add),)
    info=info+data
    
print(info)

enter n=2
enter nameram
enter age=23
enter address=ktm
enter nameshyam
enter age=25
enter address=patan
(('ram', 23, 'ktm'), ('shyam', 25, 'patan'))

In [18]:
# tuple inside list
a=(('ram', 23, 'ktm'), ('shyam', 25, 'patan'))
b=list(a)
b

[('ram', 23, 'ktm'), ('shyam', 25, 'patan')]

In [20]:
info=[] # creating tuple inside list
n=int(input('enter n='))
for i in range(n):
    name=input('enter name')
    age=int(input('enter age='))
    add= input('enter address=')
    data=(name,age,add)
    info.append(data)
    
print(info)

enter n=2
enter nameram
enter age=23
enter address=ktm
enter namehari
enter age=34
enter address=patan
[('ram', 23, 'ktm'), ('hari', 34, 'patan')]

In [21]:
a=[('ram', 23, 'ktm'), ('hari', 34, 'patan')]
del a[0]
a

[('hari', 34, 'patan')]

In [22]:
a=[('ram', 23, 'ktm'), ('hari', 34, 'patan')]
del a[0][0] # not possible to delete elements like a[0][0]
a

TypeError: 'tuple' object doesn't support item deletion

In [23]:
# list inside tuple
a=(['ram', 23, 'ktm'], ['hari', 34, 'patan'])
a

(['ram', 23, 'ktm'], ['hari', 34, 'patan'])

In [24]:
#a[0] elemnets cant change but a[0][0]can be chang
# creating list inside tuple

info=()
n=int(input('enter n='))
for i in range(n):
    name=input('enter name')
    age=int(input('enter age='))
    add= input('enter address=')
    data=[name,age,add]
    info=info+(data,)
    
print(info)

enter n=2
enter nameram
enter age=32
enter address=ktm
enter namehari
enter age=45
enter address=patan
(['ram', 32, 'ktm'], ['hari', 45, 'patan'])

In [25]:
(['ram', 32, 'ktm'], ['hari', 45, 'patan'])
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
del a[0][0]

In [27]:
a

([23, 'ktm'], ['hari', 34, 'patan'])

In [28]:
a[0][0]='ram'
a

(['ram', 'ktm'], ['hari', 34, 'patan'])